@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: "Mulish", sans-serif;
}

/* my-variables */

:root{
    /* colors */
    --dark1: rgba(19, 19, 24, 1);
    --dark2: rgba(19, 19, 24, 0.7);
    --dark3: rgba(66, 66, 71, 1);
    --orange: rgba(255, 84, 0, 1);
    --white: rgba(255, 255, 255, 1);
}

/* shared styles */

/* hero-section styles */

.hero-section{
    max-width: 1170px;
    margin: 0 auto;
}

/* nav-bar styles */

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo>img{
    width: 60px;
    height: 50px;
}

.logo>h2{
    color: var(--dark1);
    font-size: 2.25rem;
    font-weight: 800;
}

#travel{
    color: var(--orange);
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 2.75rem;
}

.nav-link{
    text-decoration: none;
    color: var(--dark3);
    font-size: 1.125rem;
    font-weight: 600;
}

.active{
    color: var(--orange);
}

.nav-link:hover{
    color: var(--orange);
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

/* hero-bg styles */

.hero-bg{
    height: 31.25rem;
    border-radius: 1rem;
    background-color: rgba(19, 19, 24, 0.6);
    background-blend-mode: overlay;
    background-image: url("Images/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-texts, .hero-travel{
    max-width: 50rem;
    margin: 0 auto;
    text-align: center;
}

.hero-title{
    color: var(--white);
    font-size: 4rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}

.hero-description{
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
}

.hero-travel{
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}

#details,
#place,
#time{
    appearance: none;
    width: 174px;
    height: 46px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: var(--white);
    color: rgba(19, 19, 24, 0.5);
    font-size: 1rem;
    font-weight: 600;
}

#details:focus,
#place:focus,
#time:focus{
    outline: 2px solid var(--orange);
}

.find-now{
    width: 174px;
    height: 46px;
    border: none;
    border-radius: 8px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 1rem;
    font-weight: 600;
}

/* tours-section styles */

.tours-section{
    max-width: 1170px;
    margin: 100px auto;
    display: flex;
    gap: 100px;
    align-items: center;
}

.tours-texts{
    
}

.tours-title{
    color: var(--dark1);
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}

.tours-description{
    color: var(--dark3);
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 24px;
}

.tours-list{

}

.tours-list-item{
    color: var(--dark3);
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 16px;
}

.tours-btn{
    border: none;
    border-radius: 8px;
    padding: 15px 35px;
    color: var(--white);
    font-size: 1.125rem;
    font-weight: 800;
    background-color: var(--orange);
}

.tours-image{
    width: 540px;
    height: 550px;
}

/* responsive styles for small devices */

@media screen and (max-width:576px) {
    .nav-bar,
    .nav-links,
    .hero-travel{
        flex-direction: column;
    }

    .nav-link{
        font-size: 1.2rem;
    }

    .hero-texts{
        width: 300px;
    }

    .hero-title{
        font-size: 1.3rem;
        margin-top: 0px;
        margin-bottom: 12px;
    }
    
    .hero-description{
        font-size: 0.875rem;
        margin-bottom: 32px;
    }

    .hero-travel{
        width: 280px;
        gap: 16px;
    }

    #details,
    #place,
    #time,
    .find-now{
    width: 250px;
    height: 50px;
    }
}